@CHARSET "ISO-8859-1";

.logo {
	font-family: 'Source Code Pro', monospace;
	color: #2a67c9;
}

.look {
	font-family: 'Source Code Pro', monospace;
}

hr {
	border:  1px solid #2a67c9;
}

.index {
	background-color: #2a67c9;
}

.view {
	background-color: #e1e5eb;
}

.selectcar:hover {
	color: #b01de0;
	cursor: pointer;
}