<h1 class="text-center">Remove a Car from Inventory</h1>
<div ng-show="carDeleted" class="text-success">Car successfully deleted!</div>
<div ng-show="incorrectDeletionId" class="text-info">Incorrect Id! Please Try Again!</div>
<div class="container" ng-init="getCars()">
	<form name="deleteCarForm">
	<h4 class="text-center">You can enter a Car's ID to delete it, or delete a Car from the list.</h4><br>
			<div class="row">
				<div class="col-sm-5">
				<h4>Enter Car's ID:</h4>
					ID: <input type="number" name="deletedCar" ng-model="deletedCarId" /><button class="btn btn-danger" ng-click="selectDeletedCar(deletedCarId)">Select!</button>
				</div>
				<div class="col-sm-2 align-center">
					<h2>OR</h2>
				</div>
				<div class="col-sm-5">
				<h4>Select From Inventory:</h4>
				<div class="table-responsive">
				<table class="table">
					<tr ng-repeat="car in allCars" class="align-right">
						<td>{{car.modelYear}} {{car.make.name}} {{car.model.name}}</td>
						<td><button class="btn btn-danger" ng-click="selectDeletedCar(car.id)">Select!</button></td>
						</tr>
				</table>
					</div>
					</div>
				</div>
			</div>
			<div ng-show="deletedCarSelected">
				<td>Delete This Car? <br>
				{{deletedCar.modelYear}} {{deletedCar.make.name}} {{deletedCar.model.name}} Id: {{deletedCar.id}}
				<button class="btn btn-danger" ng-click="deleteCar()">Delete!</button></td>
			</div>
	</form>
	<hr>
	<a class="btn nav-link btn-info float-right" href="#!portal">Portal</a>
</div>