<h1 class="text-center">Remove a make or model from our lists</h1>
<div ng-show="deleteMakeOrModelSuccess" class="text-success">Make/Model successfully deleted!</div>
<div class="container" ng-init="deleteMakeAndModelSetup()">
	<form name="deleteCarForm">
	<h5 class="text-center">Only makes or models that do not have an associated car in our inventory will be shown.<br>
	Make must also have all associated models deleted before they will be shown.</h5><br>
	<h3 class="text-center text-danger"></h3>
			<div class="row">
				<div class="col-sm-5">
				<h4>Select a Make:</h4>
				<div class="table-responsive">
				<table class="table">
					<tr ng-repeat="make in makesToDelete" class="align-right">
						<td>{{make.name}}</td>
						<td> <button class="btn btn-danger"  ng-click="selectDeletedMake(make)">Select!</button></td>
					</tr>
				</table>
				</div>
				</div>
				<div class="col-sm-2">
					<h2>OR</h2>
				</div>
				<div class="col-sm-5">
				<h4>Select a Model:</h4>
				<div class="table-responsive align-right">
				<table class="table">
					<tr ng-repeat="model in modelsToDelete" class="align-right">
						<td>{{model.name}}</td>
						<td> <button class="btn btn-danger" ng-click="selectDeletedModel(model)">Select!</button></td>
					</tr>
					</table>
					</div>
				</div>
			</div>
			<div ng-show="deletedMakeSelected">
				<td>Delete This Make? <br>
				{{selectedMake.name}} Id: {{selectedMake.id}}
				<button class="btn btn-danger" ng-click="deleteMake(selectedMake.name)">Delete!</button></td>
			</div>
			<div ng-show="deletedModelSelected">
				<td>Delete This Model? <br>
				{{selectedModel.name}} Id: {{selectedModel.id}}
				<button class="btn btn-danger" ng-click="deleteModel(selectedModel.name)">Delete!</button></td>
			</div>
	</form>
	<a class="btn nav-link btn-info float-right" href="#!portal">Portal</a>
</div>