<div class="self-align-center text-center" ng-init="getCars()">
	<h1>Wizard's Inventory!</h1>
	<button ng-click="clearFilters()" class="btn btn-danger">Reset Filters</button>
</div>
<hr>
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-2"><h4>Search Filters</h4></div>
	<div class=col-sm-6>
		<h4>{{showCars.length}} Vehicle(s) matching: </h4>
		<button ng-repeat="filter in filters" class="btn btn-success">{{filter}}</button>
	</div>
	<div class="col-sm-1"></div>
</div>
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-2">
			<label class="font-weight-bold logo">Model Year</label><br>
			<div ng-repeat="year in modelYears | orderBy">
				<label><input  type="checkbox"  ng-click="filterByModelYear(year)" ng-model="modelChecked" ng-disabled="isModelChecked"/> {{year}}</label>
				<br>
			</div>
			<hr>
			<label class="font-weight-bold logo">Average MPG</label><br>
			<div ng-repeat="avg in avgMPGs | orderBy">
				<label><input type="checkbox"  ng-click="filterByAvgMPG(avg)" ng-model="mpgChecked" ng-disabled="isMpgChecked"/> {{avg}}</label>
				<br>    
			</div>
			<hr>
			<label class="font-weight-bold logo">Exterior Color</label>
			<div ng-repeat="color in colors | orderBy">
				<label><input type="checkbox"   ng-click="filterByColor(color)" ng-model="colorChecked" ng-disabled="isColorChecked"/> {{color}}</label>
				<br>
			</div>
			<hr>
			<label class="font-weight-bold logo">Interior Color</label>
			<div ng-repeat="icolor in interiorColors | orderBy">
				<label><input type="checkbox"  ng-click="filterByIcolor(icolor)" ng-model="icolorChecked" ng-disabled="isIcolorChecked"/> {{icolor}}</label>
				<br>
			</div>
			<hr>
			<label class="font-weight-bold logo">Price Range</label><br>
			<label ng-hide="isPrice1Checked"><input type="checkbox" ng-click="filterByPriceRange(0, 19999)" ng-model="isPriceChecked" ng-disabled="isPriceChecked"/> Under $20,000</label><br>
			<label ng-hide="isPrice2Checked"><input type="checkbox" ng-click="filterByPriceRange(20000, 24999)" ng-model="isPriceChecked" ng-disabled="isPriceChecked"/> $20,000 - $24,999</label><br>
			<label ng-hide="isPrice3Checked"><input type="checkbox" ng-click="filterByPriceRange(25000, 29999)" ng-model="isPriceChecked" ng-disabled="isPriceChecked"/> $25,000 - $29,999</label><br>
			<label ng-hide="isPrice4Checked"><input type="checkbox" ng-click="filterByPriceRange(30000, 1000000)" ng-model="isPriceChecked" ng-disabled="isPriceChecked"/> Over $30,000</label>
			<hr>
	</div>
	<div class="col-sm-6">
		<div ng-repeat="car in showCars">
			<hr class="logo">
			<div class="nav-link"  ng-click="getCarById(car.id)"><h2 class="float-left font-weight-bold logo selectcar">{{car.modelYear}} {{car.make.name}} {{car.model.name}}</h2></div>
			<h3 class="float-right font-weight-bold">${{car.price}}</h3>
			<div>
			<br><br>
				Mileage: {{car.mileage}} <br>
				Average MPG: {{car.avgMPG}} <br>
				Exterior Color: {{car.color}} <br>
				Interior Color: {{car.interiorColor}}<br>	
			</div>
			<div>
				Navigation System <span ng-hide="{{car.navigationSystem}}"><i class="fas fa-times text-danger"></i></span><span ng-show="{{car.navigationSystem}}"><i class="fas fa-check text-success"></i></span>
				|  Cruise Control <span ng-hide="{{car.cruiseControl}}"><i class="fas fa-times text-danger"></i></span><span ng-show="{{car.cruiseControl}}"><i class="fas fa-check text-success"></i></span>
				|  Rear Camera <span ng-hide="{{car.rearCamera}}"><i class="fas fa-times text-danger"></i></span><span ng-show="{{car.rearCamera}}"><i class="fas fa-check text-success"></i></span>
			</div>
		</div>
	</div>
</div>