<br><div class="self-align-center text-center" ng-init="setFilterArrays()"><h1>Wizard's Inventory!</h1></div><br>

<div class="row">
	<div class=col-sm-1></div>
	<div class=col-sm-4>Search Filters</div>
	<div class=col-sm-6>
		{{filters.length}} Vehicle matching: 
		<button ng-repeat="filter in filters" class="btn btn-success">{{filter}}</button>
	</div>
	<div class="col-sm-1"></div>
</div>
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-4">
			<label>Model Year</label><br>
			<div ng-repeat="year in modelYears">
				<label><input  type="checkbox" /> {{year}}</label>
				<br>
			</div>
			<hr>
			<label>Average MPG</label><br>
			<div ng-repeat="avg in avgMPGs">
				<label><input type="checkbox" /> {{avg}}</label>
				<br>
			</div>
			<hr>
			<label>Color</label>
			<div ng-repeat="color in colors">
				<label><input type="checkbox" /> {{color}}</label>
				<br>
			</div>
			<hr>
			<label>Interior Color</label>
			<div ng-repeat="icolor in interiorColors">
				<label><input type="checkbox" /> {{icolor}}</label>
				<br>
			</div>
			<hr>
			<label>Price Range</label><br>
			<Label><input type="checkbox" /> Under $20,000</Label><br>
			<label><input type="checkbox" /> $20,000 - $24,999</label><br>
			<label><input type="checkbox" /> $25,000 - $29,999</label><br>
			<label><input type="checkbox" /> Over $30,000</label>
			<hr>
	</div>
</div>