<h1 class="text-center">Update a Car's Information</h1><br>
<div ng-show="carUpdated" class="text-success">Car successfully updated!</div>
<div ng-show="incorrectUpdateId" class="text-info">Incorrect Id! Please Try Again!</div>
<div class="container" ng-init="getCars()">
	<form name="updateCarForm">
		<h4 class="text-center">You can enter a Car's ID to update it, or select a Car from the list.</h4><br>
			<div class="row">
				<div class="col-sm-5">
				<h4>Enter ID:</h4>
					ID: <input type="number" name="updatedCar" ng-model="updatedCarId" /><button class="btn btn-warning" ng-click="selectUpdatedCar(updatedCarId)">Select!</button>
				</div>
				<div class="col-sm-2">
					<h2>OR</h2>
				</div>
					<div class="col-sm-5">
						<h4>Select From Inventory:</h4>
						<div class="table-responsive">
							<table class="table">
								<tr ng-repeat="car in allCars" class="align-right">
									<td>{{car.modelYear}} {{car.make.name}} {{car.model.name}}</td>
									<td> <button class="btn btn-warning" ng-click="selectUpdatedCar(car.id)">Select!</button></td>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="table-responsive">
			<table class="table table-bordered">
			<tr ng-show="updatedCarSelected">
				<td class="h5">Please update the appropriate info and submit!</td>
			</tr>
			<tr ng-show="updatedCarSelected">
				<td><label for="avgMPG">Average MPG:</label><br>
					<input type="number" name="avgMPG" ng-model="updatedCar.avgMPG" ng-required="updatedCarSelected">
				</td>
				<td><label for="mileage">Mileage:</label><br>
					<input type="number" name="mileage" ng-model="updatedCar.mileage" ng-required="updatedCarSelected">
				</td>
				<td><label for="price">Price:</label><br>
					<input type="number" name="price" ng-model="updatedCar.price" ng-required="updatedCarSelected">
				</td>	
			</tr>
			<tr ng-show="updatedCarSelected">
				<td><label for="color">Exterior Color:</label><br>
					<input type="text" name="color"  ng-model="updatedCar.color"  ng-required="updatedCarSelected" >
				</td>
				<td><label for="interiorColor">Interior Color:</label><br>
					<input type="text" name="interiorColor" ng-model="updatedCar.interiorColor" ng-required="updatedCarSelected" >
				</td>
				<td><label for="modelYear">Model Year:</label><br>
					<input type="number" name="modelYear" ng-model="updatedCar.modelYear" ng-required="updatedCarSelected">
				</td>
			</tr>
			<tr ng-show="updatedCarSelected">
				<td><label for="cruiseControl">Cruise Control: <input type="checkbox" name="cruiseControl" ng-model="updatedCar.cruiseControl" /></label></td>
				<td><label for="rearCamera">Rear Camera: <input type="checkbox" name="rearCamera" ng-model="updatedCar.rearCamera" /></label></td>
				<td><label for="navigationSystem">Navigation System: <input type="checkbox" name="navigationSystem" ng-model="updatedCar.navigationSystem" /></label></td>
			</tr>		
		</table>
		</div>
	<button ng-show="updatedCarSelected" class="btn btn-warning" ng-click="updateCar()">Submit!</button>
	</form>
<a class="btn nav-link btn-info float-right" href="#!portal">Portal</a>
</div>